body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin: 2rem;
}

.poster {
  margin-top: 2rem;

  text-align: center;
  color: white;
  font-family: "Libre Baskerville", serif;
}

.motivation-img {
  border: 5px solid white;
  width: 18em;
}

footer {
  font-size: 1rem;
  color: #666;
  text-align: center;
}
